In [9]:
# Exercise 2: Create markdown cell with the title of the notebook

# H1: Data Science Tools and Ecosystem

In [10]:
# Exercise 3: Create a markdown cell  for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [11]:
# Exercise 4: Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. Java
6. SQL

In [12]:
# Exercise 5: Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
Scientific Computing libraries:
1. Pandas
2. NumPy

Visualization libraries:
1. Matplotlib
2. Seaborn

Deep Learning libraries:
1. TensorFlow
2. PyTorch

Machine Learning and Deep Learning libraries:
1. Scikit-learn
2. Keras

General purpose:
1. Apache Spark

Complimentary to Spark:
1. Vegas
2. big DL
2. ggplot2

In [13]:
# Exercise 6: Create a markdown cell with a table of Data Science tools
# single column table 
# first row header: Data Science Tools
# subsequent 3 rows: indicate 3 dev environment open source tools in data science

|**Data Science Tools**|
|----------------------|
|Jupyter|
|Apache Zeppelin|
|RStudio|

In [14]:
# Exercise 7: Create a markdown cell introducing arithmeting expression examples
# add a line with H3 style heading

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)
# Result: 9

9

In [15]:
code1 = compile("(5 + 7) * 2", "<string>", "eval")
eval(code1)
# Result: 24

24

In [20]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)
# Result: 65449.84694978735

65449.84694978735

In [25]:
# Exercise 8: Create a code cell to multiply and add numbers
# This is a simple arithmetic expression to multiply then add integers
x=3
y=4
z=5
print ((x*y)+z)

17

In [23]:
# Exercise 9: Create a code cell to convert minutes to hours

In [24]:
# This will convert 200 minutes to hours by dividing by 60
x=200
y=60
quotient=x/y
print ("200 minutes is", quotient, "hours")

200 minutes is 3.3333333333333335 hours

In [7]:
# Exercise 10: Insert a markdown cell to list Objectives

**Objectives**
- Describe the components of a Data Scientist's tookint and list various tool categories.
- List examples of open-source tools used in data science.
- Describe the relevant features of open-source tools.
- List examples of commercial and cloud-based data science tools.

In [8]:
# Exercise 11: Create a markdown cell to indicate the Author's name

## Author
Jitendra Vaish